<div [ngClass]="{'s0': style==0, 's1': style==1 }">
  <div [ngClass]="{'container': style==0, 'container1': style==1 }">
    <div class="chat-container" id="chat">
      <mat-list-item class="chatItem" *ngFor="let message of messages">
        <div class="rightChatItem" *ngIf="message[0]==' '; else elseBlock" style="text-align:right;">
          {{message}}
        </div>
        <ng-template #elseBlock>{{message}}</ng-template>
      </mat-list-item>
    </div>
    <div class="bottom-container">
      <div class="input-container">
        <input type="number" id="inp" class="" size="40" [(ngModel)]="money">
      </div>
      <div class="row">
        <div class="column2">
          <button class="buttonCss" (click)="toBank()">В банк</button>
        </div>
        <div class="column2">
          <button class="buttonCss" (click)="fromBank()">Из банка</button>
        </div>
        <div class="column2">
          <button class="buttonCss" (click)="fromBank2kk()">2кк</button>
        </div>
      </div>
      <div class="money-info">
        <div class="column2" *ngFor=" let money of moneys">
          <p class="moneyInfoContainer">{{money}}</p>
        </div>
      </div>
      <div class="row">
        <div class="column" *ngFor=" let name of names">
          <button class="buttonUsers" *ngIf="name!=user.name" (click)="toPlayer(name)">{{name}}</button>
        </div>
      </div>
    </div>
  </div>
</div>